{% url 'index' as index %}
<header>
  <nav x-data="{ mobileMenuIsOpen: false }" @click.away="mobileMenuIsOpen = false" class="backdrop-blur-xl bg-white dark:bg-gray-950/50 fixed w-full z-20 shadow-2xl shadow-black/65">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
      <a href="{% url 'index' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tail<span class="bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent">Node</span></span>
      </a>
      <ul class="hidden items-center gap-4 md:flex font-medium p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
        {% if request.path == index %}
        <li>
          <a href="#{{content.section_a_text_1|slugify}}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#{{content.section_b_text_1|slugify}}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Why T<span class="bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent">N</span></a>
        </li>
        <li>
          <a href="#{{content.section_c_text_1|slugify}}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Our project</a>
        </li>
        <li>
          <a href="#{{content.section_d_text_1|slugify}}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Contact us</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'our-project' %}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Projects</a>
        </li>
        <li>
          <a href="{% url 'settings' %}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Settings</a>
        </li>
        {% endif %}
      </ul>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        {% if user.is_authenticated %}
        <form id="logout-form" method="post" action="{% url 'sign-out' %}" class="inline-flex items-center mx-2">
          {% csrf_token %}
          <button type="submit" class="text-black font-medium dark:text-red-600 md:hover:text-red-700 md:dark:hover:text-red-500">Sign out</button>
        </form>
        {% endif %}
        {% if request.path == index %}
        {% if site_settings.socialmedia_navbar %}
        <a href="{{site_settings.socialmedia_navbar.social_url}}" rel="noreferrer" target="_blank" class="inline-flex items-center text-black font-medium text-xl dark:text-white md:hover:text-blue-700 md:dark:hover:text-blue-500">
          <span class="sr-only">GitHub</span>
          {{site_settings.socialmedia_navbar.social_icon|safe}}
        </a>
        {% else %}
        <a href="#github" class="inline-flex items-center text-black font-medium text-xl dark:text-white md:hover:text-blue-700 md:dark:hover:text-blue-500">
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/></svg>
        </a>
        {% endif %}
        {% endif %}
        <button @click="mobileMenuIsOpen = !mobileMenuIsOpen" :aria-expanded="mobileMenuIsOpen" :class="mobileMenuIsOpen ? 'fixed top-6 right-6 z-20' : null" type="button" class="flex text-slate-700 dark:text-slate-300 md:hidden" aria-label="mobile menu" aria-controls="mobileMenu">
          <svg x-cloak x-show="!mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg x-cloak x-show="mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-8 -m-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <ul x-cloak x-show="mobileMenuIsOpen" x-transition:enter="transition motion-reduce:transition-none ease-out duration-300" x-transition:enter-start="-translate-y-full" x-transition:enter-end="translate-y-0" x-transition:leave="transition motion-reduce:transition-none ease-out duration-300" x-transition:leave-start="translate-y-0" x-transition:leave-end="-translate-y-full" id="mobileMenu" class="fixed max-h-svh overflow-y-auto inset-x-0 top-0 z-10 flex flex-col divide-y divide-slate-300 rounded-b-xl border-b border-slate-300 bg-slate-100 px-6 pb-6 pt-20 dark:divide-slate-700 dark:border-slate-700 dark:bg-slate-800 md:hidden">
        {% if request.path == index %}
        <li>
          <a href="#{{content.section_a_text_1|slugify}}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#{{content.section_b_text_1|slugify}}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Why T<span class="bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent">N</span></a>
        </li>
        <li>
          <a href="#{{content.section_c_text_1|slugify}}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Our project</a>
        </li>
        <li>
          <a href="#{{content.section_d_text_1|slugify}}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Contact us</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'our-project' %}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Projects</a>
        </li>
        <li>
          <a href="{% url 'settings' %}" class="block py-2 px-3 md:p-0 text-gray-900 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:text-white">Settings</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>  
</header>