{% extends 'base/common/base.html' %}
{% block title %}{{page_title}}{% endblock %}
{% block content %}{% url 'add-project' as add_project %}
<div class="min-h-screen px-4 py-20 flex items-center justify-center">
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full" src="{% if project.project_icon_url %}{{project.project_icon_url}}{% else %}https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr0UUlb4giEvpuGYNJhFkg2VPFQyKvQXn4Hv4sUImYCg&s{% endif %}" alt="{{project.project_name|slugify}}">
        <div class="min-w-0 flex-auto">
          <h2 class="font-semibold text-xl text-gray-900 dark:text-gray-100">{% if request.path == add_project %}Add project{% else %}Edit - {{project.project_name}} project{% endif %}</h2>
          <p class="text-gray-900 dark:text-gray-100 mb-6">{% if request.path == add_project %}Please fill out the form below to add a new project.{% else %}Updated at {{project.updated_at}}{% endif %}</p>
        </div>
      </div>
      <div class="backdrop-blur-md dark:bg-slate-700/10 rounded-lg shadow-lg p-4 md:p-8 mb-6 animate__animated animate__fadeIn">
        <div class="grid gap-5 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-900 dark:text-gray-100 hidden md:block">
            <div class="flex min-w-0 gap-x-4">
              <div class="min-w-0 flex-auto">
                <p class="font-medium text-lg">Latest updated</p>
                <p>Your current projects</p>
              </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
              <a href="{% url 'add-project' %}" class="text-gray-900 -translate-y-5 dark:text-gray-100 hover:text-gray-400">+ Add new</a>
            </div>
            <div class="overflow-auto flex flex-col divide-y h-96 dark:divide-slate-200/5">
              <ul role="list" class="mt-3">
                {% if project_list %}
                {% for project in project_list %}
                <li class="flex justify-between gap-x-6 py-5 p-3 rounded-lg bg-slate-900 mb-2">
                  <div class="flex min-w-0 gap-x-4">
                    <img class="h-12 w-12 flex-none rounded-full" src="{% if project.project_icon_url %}{{project.project_icon_url}}{% else %}https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr0UUlb4giEvpuGYNJhFkg2VPFQyKvQXn4Hv4sUImYCg&s{% endif %}" alt="{{project.project_name|slugify}}">
                    <div class="min-w-0 flex-auto">
                      <p class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-100">{{project.project_name}}</p>
                      <a href="{% url 'edit-project' project_id=project.project_id %}" class="mt-1 truncate text-xs leading-6 text-gray-900 dark:text-gray-100 hover:text-gray-400">Edit</a>
                    </div>
                  </div>
                  <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                    {% if project.project_status == True %}
                    <p class="text-xs leading-6 text-lime-400">Live</p>
                    {% else %}
                    <p class="text-xs leading-6 text-red-500">Offline</p>
                    {% endif %}
                    <p class="mt-1 text-xs leading-5 text-gray-300">{{project.updated_at|timesince}} ago</p>
                  </div>
                </li>
                {% endfor %}
                {% else %}
                <li class="py-5">
                  <p class="text-sm text-gray-500">You have no projects yet.</p>
                </li>
                {% endif %}
              </ul>            
            </div>
          </div>
          <div class="lg:col-span-2">
            <form method="post">
              {% csrf_token %}
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                  <!-- Field untuk project_name -->
                  <div class="md:col-span-5">
                      <div class="mb-5 relative">
                          <label for="project_name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100">Project name</label>
                          <div class="mt-2">
                              <input id="project_name" type="text" name="project_name" autocomplete="project_name" value="{{ project.project_name }}" required class="block w-full rounded p-2 outline-none bg-gray-100 dark:text-white dark:bg-slate-900 text-base placeholder-gray-500 text-gray-900">
                          </div>
                      </div>
                  </div>
                  <!-- Field untuk project_description -->
                  <div class="md:col-span-5">
                      <div class="mb-5 relative">
                          <label for="project_description" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100">Project description</label>
                          <div class="mt-2">
                              <input id="project_description" type="text" name="project_description" autocomplete="project_description" value="{{ project.project_description }}" required class="block w-full rounded p-2 outline-none bg-gray-100 dark:text-white dark:bg-slate-900 text-base border-b-gray-600 placeholder-gray-500 text-gray-900" placeholder="">
                          </div>
                      </div>
                  </div>
                  <!-- Field untuk project_icon_url -->
                  <div class="md:col-span-2">
                      <div class="mb-5 relative">
                          <label for="project_icon_url" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100">Icon address</label>
                          <div class="mt-2">
                              <input id="project_icon_url" type="url" name="project_icon_url" autocomplete="project_icon_url" value="{{ project.project_icon_url|default:'' }}" class="block w-full rounded p-2 outline-none bg-gray-100 dark:text-white dark:bg-slate-900 text-base border-b-gray-600 placeholder-gray-500 text-gray-900" placeholder="https://...image.png">
                          </div>
                      </div>
                  </div>
                  <!-- Field untuk project_exploler_url -->
                  <div class="md:col-span-3">
                      <div class="mb-5 relative">
                          <label for="project_exploler_url" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100">Exploler address</label>
                          <div class="mt-2">
                              <input id="project_exploler_url" type="url" name="project_exploler_url" autocomplete="project_exploler_url" value="{{ project.project_exploler_url|default:'' }}" class="block w-full rounded p-2 outline-none bg-gray-100 dark:text-white dark:bg-slate-900 text-base border-b-gray-600 placeholder-gray-500 text-gray-900" placeholder="https://exploler..">
                          </div>
                      </div>
                  </div>
                  <!-- Field untuk project_date -->
                  <div class="md:col-span-2">
                      <div class="mb-5 relative">
                          <label for="project_date" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100">Project date</label>
                          <div class="mt-2">
                              <input id="project_date" type="date" name="project_date" autocomplete="project_date" value="{{ project.project_date|date:"Y-m-d" }}" required class="block w-full rounded p-2 outline-none bg-gray-100 dark:text-white dark:bg-slate-900 text-base border-b-gray-600 placeholder-gray-500 text-gray-900">
                          </div>
                      </div>
                  </div>
                  <!-- Field untuk project_status -->
                  <div class="md:col-span-2">
                      <div class="mb-5 relative">
                          <label for="project_status" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100">Project status</label>
                          <div class="mt-2">
                              <label for="togglePrimary" class="inline-flex cursor-pointer items-center gap-3">
                                  <input id="togglePrimary" type="checkbox" name="project_status" class="peer sr-only" {% if project.project_status %}checked{% endif %}>
                                  <div class="relative h-6 w-11 after:h-5 after:w-5 peer-checked:after:translate-x-5 rounded-full border border-gray-300 bg-gray-100 after:absolute after:bottom-0 after:left-[0.0625rem] after:top-0 after:my-auto after:rounded-full after:bg-gray-700 after:transition-all after:content-[''] peer-checked:bg-blue-700 peer-checked:after:bg-gray-100 peer-focus:outline peer-focus:outline-2 peer-focus:outline-gray-800 peer-focus:peer-checked:outline-blue-700 peer-active:outline-offset-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:border-gray-700 dark:bg-gray-800 dark:after:bg-gray-300 dark:peer-checked:bg-blue-600 dark:peer-checked:after:bg-gray-100 dark:peer-focus:outline-gray-300 dark:peer-focus:peer-checked:outline-blue-600" aria-hidden="true"></div>
                              </label>
                          </div>
                      </div>
                  </div>
                  <!-- Field untuk exploler_button -->
                  <div class="md:col-span-5">
                      <div class="inline-flex items-center">
                          <input type="checkbox" name="exploler_button" id="exploler_button" class="form-checkbox" {% if project.exploler_button %}checked{% endif %} />
                          <label for="exploler_button" class="ml-2 text-gray-900 dark:text-gray-100">Exploler button visibility</label>
                      </div>
                  </div>
                  <!-- Field untuk visibility -->
                  <div class="md:col-span-5">
                      <div class="inline-flex items-center">
                          <input type="checkbox" name="visibility" id="visibility" class="form-checkbox" {% if project.visibility %}checked{% endif %} />
                          <label for="visibility" class="ml-2 text-gray-900 dark:text-gray-100">Project visibility</label>
                      </div>
                  </div>
                  <!-- Tombol submit dan cancel -->
                  <div class="md:col-span-5 text-right">
                      <div class="inline-flex items-end">
                          {% if request.path != add_project %}
                          <a href="{% url 'delete-project' project_id=project.project_id %}" class="text-sm font-semibold mx-5 leading-10 text-red-900 dark:text-red-600 hover:text-red-700">Delete</a>
                          {% endif %}
                          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 mt-8 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save project</button>
                      </div>
                  </div>
              </div>
          </form>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}